@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700');

/**
 * Style variables
 */
$base-font-family:     'Source Code Pro', monospace !default;
$base-font-size:       12.5px !default;
$mobile-font-size:     12px !default;
$base-line-height:     1.5 !default;
$container-width:      90% !default;
$container-max-width:  600px !default;

/**
 * Global
 */
body { background-color: $background-color;  margin: 0 auto;  padding: 0;  font-family: $base-font-family;  font-size: $base-font-size;  color: $text-color;  text-align: left;  line-height: $base-line-height !important; }
h1, h2, h3, h4, h5, h6 { font-size: $base-font-size;  margin: 0px;  margin-top: 22px;  margin-bottom: 12px;  font-weight: bold;  color: $text-color; }
p, ul, ol { color: $text-color; }
p, ol { margin: 0px; }
a { text-decoration: underline;  color: $link-color; }
a:hover { color: $background-color; background-color: $base-color; }
.primary-text { color: $primary-color; }
@media only screen and (max-device-width: 500px) { * { font-size: $mobile-font-size !important; } }
/*h1:before { content: "#";  margin-right: 9px; }
h2:before { content: "##";  margin-right: 9px; }
h3:before { content: "###";  margin-right: 9px; }
h4:before { content: "####";  margin-right: 9px; }
h5:before { content: "#####";  margin-right: 9px; }
h6:before { content: "######";  margin-right: 9px; }*/

hr { border: none; border-bottom: 1px solid #ffffff2b; padding-top: 10px; margin: 0px 20px; }

code .hljs-keyword:nth-of-type(2n) { color: #a46eff; }
.highlighter-rouge { background-color: #313131; padding: 0 3px; }

blockquote { border-left: 3px solid white; padding-left: 15px; border-radius: 2px; font-style: italic; margin-left: 15px; }
img { max-width: 100%; border-radius: 4px; }
.img-cont { text-align: center; margin: 15px 0px; }
.img-cont p { color: #ffffff87; font-style: italic; }
.img-cont p::before { content: "("; }
.img-cont p::after { content: ")"; }

.footnote { margin-left: -3px; text-decoration: none; color: #0cf; font-size: 10.5px; }
.footnote::before { content: "["; }
.footnote::after { content: "]"; }

sup.fn-m { margin-left: 2px; text-decoration: none; color: #ff4150; font-size: 10.5px; }
sup.fn-m::before { content: "["; }
sup.fn-m::after { content: "]"; }

table { width: 100%; border-spacing: 0; margin: 20px 0; border-radius: 1px; border: 2px solid #8C8B8C; }
table thead { background-color: #8C8B8C; color: black; }
table td { padding: 5px; }
table tr:nth-child(even) { background-color: #262626; }

.muted { color: #ffffff87; }
.center { text-align: center; }

/**
 * Layout
 */
.container { width: $container-width;  max-width: $container-max-width;  margin-right: auto;  margin-left: auto; overflow-x: scroll; }
.code { border: dashed 1px rgba(219,219,219,0.9);  background-color: black;  padding: 14px; margin: 12px 0; line-height: 25px; }
p { margin-top: 18px;  word-wrap: break-word;  word-break: break-word;  white-space: pre-wrap; }
footer { color: $text-color;  border-top: $border;  margin: 20px auto 15px;  padding-top: 10px;  text-align: right; }
header { margin-top: 25px;  margin-bottom: 10px; }
header p { text-align: left;  margin: 0; }
footer { margin-bottom: 20px; }
ul#list-spaced li { margin-bottom: 10px; }

/**
 * Highlight/Markup
 */
::selection { background: $selection-background;  color: $selection-text; }
::-moz-selection { background: $selection-background;  color: $selection-text; }

/**
 * Header/Navigation
 */
.menu { border-top: $border;  border-bottom: $border;  margin-bottom: 25px; }
.menu ul { margin-top: 12px;  margin-bottom: 12px;  padding-left: 0px;  list-style-type: none;  text-align: right; }
.menu ul li { display: inline;  margin-left: 10px; }
.menu ul li a { text-decoration: none;  color: $text-color; }
.menu ul li a:hover { text-decoration: none; color: $background-color; background-color: $base-color; }

/**
 * Form
 */
input, select, textarea { padding: 0;  margin: 0;  -webkit-appearance: none;  -webkit-border-radius: 0;  border: none; }
input[type=text], select, textarea { width: 100%;  resize: none;  background-color: $background-color;  color: $text-color;  caret-color: $text-color;  font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height; }
input, select, textarea, textarea::-webkit-input-placeholder { text-indent: 0px; }
::placeholder { color: $placeholder-color;  opacity: 1; }
:-ms-input-placeholder { color: $placeholder-color; }
::-ms-input-placeholder { color: $placeholder-color; }
input[type=submit] { font-size: $base-font-size;  font-family: $base-font-family;  line-height: $base-line-height;  cursor: pointer;  color: $link-color;  background-color: $background-color; }
input[type=submit]:hover { color: $background-color; background-color: $base-color; }
*:focus { outline: none; }
textarea { vertical-align: top; }

/**
 * Code and syntax highlighting
 */
.h-c { color: #2ee079; } /* Comment */
.h-err { color: #a61717; background-color: #e3d2d2 } /* Error */
.h-k { font-weight: bold } /* Keyword */
.h-o { font-weight: bold } /* Operator */
.h-gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.h-ge { font-style: italic } /* Generic.Emph */
.h-gr { color: #aa0000 } /* Generic.Error */
.h-gh { color: #999999 } /* Generic.Heading */
.h-gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.h-go { color: #888888 } /* Generic.Output */
.h-gp { color: #555555 } /* Generic.Prompt */
.h-gs { font-weight: bold } /* Generic.Strong */
.h-gu { color: #aaaaaa } /* Generic.Subheading */
.h-kt { color: #445588; font-weight: bold } /* Keyword.Type */
.h-m { color: #009999 } /* Literal.Number */
.h-s { color: #d14 } /* Literal.String */
.h-na { color: #008080 } /* Name.Attribute */
.h-nb { color: #0086B3 } /* Name.Builtin */
.h-nc { color: #445588; font-weight: bold } /* Name.Class */
.h-no { color: #008080 } /* Name.Constant */
.h-ni { color: #800080 } /* Name.Entity */
.h-ne { color: #990000; font-weight: bold } /* Name.Exception */
.h-nf { color: #990000; font-weight: bold } /* Name.Function */
.h-nn { color: #555555 } /* Name.Namespace */
.h-nt { color: #000080 } /* Name.Tag */
.h-nv { color: #008080 } /* Name.Variable */
.h-w { color: #bbbbbb } /* Text.Whitespace */
.h-sr { color: #009926 } /* Literal.String.Regex */
.h-il { color: #009999 } /* Literal.Number.Integer.Long */
